---
import type { Content } from "../types";

const { content } = Astro.props;
const { contents, title, subtitle } = content;
---

<section class="content">
  <div class="content_container">
    <div class="content_header">
      <h2 class="content_title">{title}</h2>
      <p class="content_subtitle">{subtitle}</p>
    </div>

    <div class="content_grid">
      {
        contents.map((item: Content) => (
          <div class="content_item">
            <h3 class="content_item-title">{item.title}</h3>
            <p class="content_item-text">{item.description}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
