---
import { Image } from "astro:assets";
import woman from "../assets/woman.jpg";

const { finish } = Astro.props;
const { finishs, title } = finish;
---

<section class="finish">
  <div class="finish_container">
    <div class="finish_grid">
      <div>
        <h2 class="finish_title">{title}</h2>
        <ul class="finish_list">
          {
            finishs.map((item: string) => (
              <li class="finish_item">
                <span class="finish_text">{item}</span>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="finish_media">
        <Image src={woman} alt="Práctica de Masterclass" class="finish_image" />
      </div>
    </div>
  </div>
</section>
