---
import { SplitText, BlurText } from "../components";
import 'animate.css';

const title = "Este San Valentín, el amor más importante empieza contigo"
const subtitle_first = "Formación premium con la última"
const subtitle_second = "tecnología en estética avanzada."
const text = "Certificación Profesional inmediata"
const btn = "Programa Educativo"
const alt_logo = "GenetikPlux Logo"
---

<section class="hero">
    <div class="hero_bg">
			<div class="hero_bg-banner">
				<video autoplay="" playsinline="" loop="" poster="" muted="" class="hero_bg-video"
					src="./assets/woman.mp4" 
				/>
			</div>
    </div>
    <div class="hero_bg-logo">
			<img
				alt={alt_logo}
				class="hero_bg-logo_img"
				src="https://ext.same-assets.com/2397237772/2291279987.png"
			/>
    </div>
    <div class="hero_aside">
			<div class="hero_aside-wrapper">
				<div class="max-w-4xl">
					<h1 class="hero_aside-title text-white">{title}</h1>
				</div>
			</div>
    </div>
</section>