---
const testimonials = [
  {
    video: "https://ext.same-assets.com/2397237772/2035483755.mp4",
    poster: "https://ext.same-assets.com/2397237772/625917128.jpeg",
  },
  {
    video: "https://ext.same-assets.com/2397237772/2422884914.mp4",
    poster: "https://ext.same-assets.com/2397237772/3052004362.jpeg",
  },
  {
    video: "https://ext.same-assets.com/2397237772/3986450338.mp4",
    poster: "https://ext.same-assets.com/2397237772/1749925750.jpeg",
  },
];
const title = "Testimonios";
---

<section class="testimonials">
  <div class="testimonials_container">
    <h2 class="testimonials_title">{title}</h2>

    <div class="testimonials_grid">
      {
        testimonials.map((testimonial) => (
          <div class="testimonials_card">
            <video
              class="testimonials_video"
              controls
              playsinline
              poster={testimonial.poster}
              preload="metadata"
            >
              <source src={testimonial.video} type="video/mp4" />
              Your browser does not support the video tag.
            </video>
          </div>
        ))
      }
    </div>
  </div>
</section>
