@import "tailwindcss";

@font-face {
  font-family: "Grotesk";
  src: url("../assets/68c33497e4788b20d2753bf2.otf") format("truetype");
  font-display: swap;
}

* {
  font-family: "Space Grotesk", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--white);
  color: var(--black);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.btn {
  font-family: "Space Grotesk", sans-serif;
}

.hero_text {
  font-family: "Grotesk", sans-serif;
  font-weight: 300;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: var(--beige);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--beige-dark);
}

/* Hero */
@import "./hero.css";

/* Welcome */
@import "./welcome.css";

/* Why */
@import "./cta.css";

/* Includes */
@import "./includes.css";

/* Content */
@import "./content.css";

/* Pricing */
@import "./pricing.css";

/* Brand */
@import "./brand.css";

/* CTA */
@import "./cta.css";

/* Testimonials */
@import "./testimonials.css";

/* Footer */
@import "./footer.css";

/* Finish */
@import "./finish.css";
