@import "tailwindcss";

.welcome {
  @apply bg-white py-16 md:py-24 lg:py-36;
}

.welcome_container {
  @apply container mx-auto px-6;
}

.welcome_aside-title {
  @apply text-center text-3xl text-[#c8102e] md:text-5xl lg:text-7xl;
  font-family: "Grotesk", sans-serif;
}

.welcome_aside-subtitle {
  @apply text-center my-12 text-xl font-normal text-[#c8102e] md:text-2xl lg:text-3xl;
}

.welcome_aside-text {
  @apply text-center my-2 text-lg font-medium text-[#c8102e] md:text-xl lg:text-2xl;
}

.welcome_aside-btn {
  @apply inline-block bg-[#060606] rounded-sm px-10 py-4 font-medium tracking-[0.2em] text-white uppercase shadow-lg transition-all duration-300 hover:bg-[#060606] hover:text-white;
}
